/JEE7 Source Code/ParcelMSJ-ejb/nbproject/private/
/JEE7 Source Code/ParcelMSJavaLibrary/nbproject/private/
/JEE7 Source Code/WebParcelMS/nbproject/private/
/JEE7 Source Code/EnterpriseParcelMS/nbproject/private/
/JEE7 Source Code/ParcelMSJavaLibrary/build/
/JEE7 Source Code/ParcelMSJavaLibrary/dist/
/JEE7 Source Code/ParcelMSJ-ejb/dist/
/JEE7 Source Code/WebParcelMS/build/
/JEE7 Source Code/EnterpriseParcelMS/build/
/JEE7 Source Code/EnterpriseParcelMS/dist/
/JEE7 Source Code/WebParcelMS/dist/